In [2]:
import numpy as np
import pandas as pd

In [ ]:
date_cols = [16, 26, 45, 47, 48]
col_dict = {'acc_now_delinq': 'float64',
                 'addr_state': 'O',
                 'all_util': 'float64',
                 'annual_inc': 'float64',
                 'annual_inc_joint': 'float64',
                 'application_type': 'O',
                 'collection_recovery_fee': 'float64',
                 'collections_12_mths_ex_med': 'float64',
                 'delinq_2yrs': 'float64',
                 'desc': 'O',
                 'dti': 'float64',
                 'dti_joint': 'float64',
                 'emp_length': 'O',
                 'emp_title': 'O',
                 'funded_amnt': 'float64',
                 'funded_amnt_inv': 'float64',
                 'grade': 'O',
                 'home_ownership': 'O',
                 'id': 'int64',
                 'il_util': 'float64',
                 'initial_list_status': 'O',
                 'inq_fi': 'float64',
                 'inq_last_12m': 'float64',
                 'inq_last_6mths': 'float64',
                 'installment': 'float64',
                 'int_rate': 'float64',
                 'last_pymnt_amnt': 'float64',
                 'loan_amnt': 'float64',
                 'max_bal_bc': 'float64',
                 'member_id': 'int64',
                 'mths_since_last_delinq': 'float64',
                 'mths_since_last_major_derog': 'float64',
                 'mths_since_last_record': 'float64',
                 'mths_since_rcnt_il': 'float64',
                 'open_acc': 'float64',
                 'open_acc_6m': 'float64',
                 'open_il_12m': 'float64',
                 'open_il_24m': 'float64',
                 'open_il_6m': 'float64',
                 'open_rv_12m': 'float64',
                 'open_rv_24m': 'float64',
                 'out_prncp': 'float64',
                 'out_prncp_inv': 'float64',
                 'policy_code': 'float64',
                 'pub_rec': 'float64',
                 'purpose': 'O',
                 'pymnt_plan': 'O',
                 'recoveries': 'float64',
                 'revol_bal': 'float64',
                 'revol_util': 'float64',
                 'sub_grade': 'O',
                 'term': 'O',
                 'title': 'O',
                 'tot_coll_amt': 'float64',
                 'tot_cur_bal': 'float64',
                 'total_acc': 'float64',
                 'total_bal_il': 'float64',
                 'total_cu_tl': 'float64',
                 'total_pymnt': 'float64',
                 'total_pymnt_inv': 'float64',
                 'total_rec_int': 'float64',
                 'total_rec_late_fee': 'float64',
                 'total_rec_prncp': 'float64',
                 'total_rev_hi_lim': 'float64',
                 'verification_status': 'O',
                 'verification_status_joint': 'O',
                 'zip_code': 'O'}

path1="C:/Users/sawacha/Desktop/Transition and stuff/DSP 19/Project/Python Project - Bank Lending/XYZCORP_LENDINGDATA.csv"

data_raw = pd.read_csv(path1, parse_dates=date_cols, dtype=col_dict, low_memory=False)

data_raw= data_raw.drop(columns="default_ind")

In [ ]:
data_raw.head()

In [ ]:
data_raw.info()

In [9]:
# Create pickle file for raw data

import pickle
path="C:/Users/sawacha/Desktop/Transition and stuff/DSP 19/Project/raw/data"
with open(path, 'wb') as file:
    pickle.dump(data_raw, file)

In [10]:
# open pickle file for raw data

with open(path, 'rb') as file:
    data = pickle.load(file)

In [11]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855969 entries, 0 to 855968
Data columns (total 73 columns):
id                             855969 non-null int64
member_id                      855969 non-null int64
loan_amnt                      855969 non-null float64
funded_amnt                    855969 non-null float64
funded_amnt_inv                855969 non-null float64
term                           855969 non-null object
int_rate                       855969 non-null float64
installment                    855969 non-null float64
grade                          855969 non-null object
sub_grade                      855969 non-null object
emp_title                      806526 non-null object
emp_length                     812908 non-null object
home_ownership                 855969 non-null object
annual_inc                     855969 non-null float64
verification_status            855969 non-null object
issue_d                        855969 non-null object
pymnt_plan                     855969 non-null object
desc                           121812 non-null object
purpose                        855969 non-null object
title                          855936 non-null object
zip_code                       855969 non-null object
addr_state                     855969 non-null object
dti                            855969 non-null float64
delinq_2yrs                    855969 non-null float64
earliest_cr_line               855969 non-null object
inq_last_6mths                 855969 non-null object
mths_since_last_delinq         416157 non-null float64
mths_since_last_record         131184 non-null float64
open_acc                       855969 non-null float64
pub_rec                        855969 non-null float64
revol_bal                      855969 non-null float64
revol_util                     855523 non-null float64
total_acc                      855969 non-null float64
initial_list_status            855969 non-null object
out_prncp                      855969 non-null float64
out_prncp_inv                  855969 non-null float64
total_pymnt                    855969 non-null float64
total_pymnt_inv                855969 non-null float64
total_rec_prncp                855969 non-null float64
total_rec_int                  855969 non-null float64
total_rec_late_fee             855969 non-null float64
recoveries                     855969 non-null float64
collection_recovery_fee        855969 non-null float64
last_pymnt_d                   847107 non-null object
last_pymnt_amnt                855969 non-null float64
next_pymnt_d                   602998 non-null object
last_credit_pull_d             855919 non-null object
collections_12_mths_ex_med     855913 non-null float64
mths_since_last_major_derog    213139 non-null object
policy_code                    855969 non-null float64
application_type               855969 non-null object
annual_inc_joint               442 non-null float64
dti_joint                      440 non-null float64
verification_status_joint      442 non-null object
acc_now_delinq                 855969 non-null float64
tot_coll_amt                   788656 non-null float64
tot_cur_bal                    788656 non-null float64
open_acc_6m                    13288 non-null float64
open_il_6m                     13288 non-null float64
open_il_12m                    13288 non-null float64
open_il_24m                    13288 non-null float64
mths_since_rcnt_il             12934 non-null float64
total_bal_il                   13288 non-null float64
il_util                        11609 non-null float64
open_rv_12m                    13288 non-null float64
open_rv_24m                    13288 non-null float64
max_bal_bc                     13288 non-null float64
all_util                       13288 non-null float64
total_rev_hi_lim               788656 non-null float64
inq_fi                         13288 non-null float64
total_cu_tl                    13288 non-null float64
inq_last_12m                   13288 non-null float64
default_ind                    855969 non-null int64
dtypes: float64(47), int64(3), object(23)
memory usage: 476.7+ MB